@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {

    --var-primary-color-very-dark-magenta:hsl(300, 43%, 22%);
    --var-primary-color-soft-pink:hsl(333, 80%, 67%);
    --var-neutral-color-dark-grey-magenta: hsl(303, 10%, 53%);
    --var-neutral-color-light-gray-magenta:hsl(300, 24%, 96%);
    --var-neutral-white:hsl(0, 0%, 100%);

    --primary-font:"League Spartan";
    --primary-font-size:15px;

    --default-item-width:
}


* {

    padding:0px;
    margin: 0px;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
}

/* ---------- HTML TAGS ---------- */

body {

    background-color: var(--var-neutral-white);
    color: var(--var-primary-color-very-dark-magenta);
}

h1 {

    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top:1rem;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {

    font-weight: 500;
}

footer {


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

p {

    line-height: 1.25rem;
}


/* ---------- CLASSES ---------- */


.bubble-reviews {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--var-neutral-color-light-gray-magenta);
    border-radius: 0.5rem;
    padding: 1rem 2rem ;
    margin: 0.5rem 0.5rem;

}

.card-layout {

    display:flex;
    flex-direction: column;

    row-gap:1rem;
    width: 18rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;

    background-color: var(--var-primary-color-very-dark-magenta);
    color: var(--var-neutral-white);

}

.header-main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
    text-align: center;
    width: 20.5rem;
}

.heading-name {

    font-weight: 700;
    margin-bottom: 0.35rem;
}

.heading-title {

    color: var(--var-primary-color-soft-pink);
}

.headshot {

    float:left;
    width: 4rem;
    margin-right: 1rem;
    border-radius: 50%;

}

.star{

    padding: 0.25rem 0.25rem;
}

.star-review{

    font-weight: 700;
}

.star-wrapper {

    display: flex;
    justify-content: center;
    padding-bottom: 1rem ;
}

@media (min-width:1200px) {

    h1{

        font-size: 3rem;
    }
    
    main{

        height:95dvh;

    }

    footer{

        height:5dvh;
    }

    .bubble-reviews{

        flex-direction: row;
        margin-bottom: 1.5rem;
    }
    
    .cards{

        display: flex;
       flex-direction: row;
    }

    .header-main{

        position: relative;
        right:5rem;
        text-align: left;
        width: 22rem;
        margin-right: 9.5rem;
    }

    .reviews {

        flex-direction: row;
    }

    .star-review{

        position: relative;
    }

    .star-wrapper{

        padding-bottom: 0rem;
        padding-right: 2.5rem;

    }

    .top-container{

        display: flex;
        margin-bottom: 2.5rem;

    }

    #a2{

        position: relative;
        left:2.5rem;
    }

    #a3{

        position: relative;
        left:5rem;
    }

    #b2{

        position: relative;
        top:1rem;
    }

    #b3 {

        position: relative;
        top:2rem;
    }

}